*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #252525;
}
.lobby-main{
    position: fixed;
    top: 40%;
    width: 100%;
    background-color: #212121;
    /* background-color: #EEEEEE; */
}
#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#logo{
    height: 100px;
}
.description{
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #08469C;
}
.description p{
    margin-top: 30px;
    padding-left: 0.5rem;
}
#App-Name{
    color: #FEA832;
}

/* ---------------- Room Styling ------------------- */
#room-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #08469C;
    margin-left: 5px;
}
#video-streams{
    color: #FEA832;
    background-color: #FEA832;
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 75%;
    margin: 0 auto;
}

.video-container{
    color: #FEA832;
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid;
    border-radius: 5px;
    margin: 2px;
    background-color: #212121;
}