*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: #252525;
}
.lobby-main{
    position: fixed;
    top: 40%;
    width: 100%;
    background-color: #212121;
}
#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#logo{
    height: 100px;
}
.description{
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #08469C;
}
.description p{
    margin-top: 30px;
    padding-left: 0.5rem;
}
#App-Name{
    color: #FEA832;
}

/* ---------------- Room Styling ------------------- */
#room-name-wrapper{
    color: #08469C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 40px;
 }
 .stream-container{
    padding: 2rem;
    height: 95vh;
}
.grid{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(50rem,1fr));
    gap: 1rem;
}
#video-streams{
    color: #FEA832;
    overflow: hidden;
}

.video-container{
    border: 1px solid;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-color: #212121;
    overflow: hidden;
}

.video-player{
    height: inherit;
    width: inherit;
}
