<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Areekadan Chat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <a href="https://www.flaticon.com/free-icons/conversation" title="conversation icons">Conversation icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/peace" title="peace icons">Peace icons created by berkahicon - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/video" title="video icons">Video icons created by Anggara - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/camera" title="camera icons">Camera icons created by Freepik - Flaticon</a> -->
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/main.css' %}">
    <!-- <script src='main.js'></script> -->
</head>
<body>
    {% block content %}

    {% endblock content %}
</body>
</html>